html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ol[class],
ul[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol[class],
ul[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;
  text-align: center;
  background-image: url('../images/train-station.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
  padding-top: 200px;
}

h1,
h2 {
  color: #ffffff;
  font-size: 60px;
  line-height: 2;
  margin-bottom: 30px;
  background-color: #44444494;
}

